#app {
  padding: 0.5em;
  margin: 0 auto;
  text-align: center;
}
.hero {
  filter: drop-shadow(0 0 1em #ffffff);
}
.wave {
  position: absolute;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, #0a0a0a, transparent 70%);
  border-radius: 50%;
  mix-blend-mode: screen;
  pointer-events: none; 
  transform: translate(-50%, -50%);
  animation: pulse 1.5s infinite;
  overflow: hidden;
}
.cardcon {
  display: flex;
  flex-wrap: wrap; /* Ensures cards wrap to the next row */
  gap: 36px; /* Space between cards */
  max-width: 95%; /* Optional: Limit container width */
  padding: 48px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
  overflow: hidden;
}
.button {
  display: flex;
  position: relative;
  width: 20em;
  background: #00408080;
  color: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: background 0.3s ease;
  cursor: pointer;
}
.card {
  display: flex;
  position: relative;
  flex: 1 1 calc(25% - 8px); /* Adjust this for responsive sizes */
  max-width: calc(28% - 8px); /* Matches the flex-basis */
  background: #00408080;
  color: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: background 0.3s ease;
  cursor: pointer;
}
.card:hover, .button:hover {
  background-color: #0080e080;
}
.card .cardcontent, .button .buttoncontent {
  transition: transform 0.3s ease-in-out;
}
.card:hover .cardcontent, .button:hover .buttoncontent {
  transform: translateX(-20px);
}

a,a:link,a:visited,a:hover,a:active{
  text-decoration: none;
  color:inherit;
}
@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(100% - 16px);
    max-width: calc(100% - 16px);
  }
}