.subtitle {
    font-size: 2.5em;
}

.content {
    margin-left: 6em;
    margin-right: 6em;
    text-align: start;
}

p {
    font: 1em sans-serif;
}

.avatar {
    width: 240px;
    height: 240px;
}

.socialcontainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    gap: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

@media (max-width: 768px) {
    .content {
        margin-left: 2em;
        margin-right: 2em;
        text-align: start;
    }
    .avatar {
        width: 120px;
        height: 120px;
    }
    .socialcontainer {
        max-width: 80%;
    }
}